@use "./abstracts" as abs;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: abs.$ff-rubik;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: abs.$cl-very-dark-blue;
}

img,
svg {
	max-width: 100%;
	display: block;
}

.dashboard {
	display: grid;
	grid-template-columns: repeat(4, 0.72fr);
	grid-template-rows: repeat(2, 1fr);
	gap: abs.toRem(30px);
	margin-inline: abs.toRem(30px);

	@media only screen and (max-width: 59.375em) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media only screen and (max-width: 46.25em) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media only screen and (max-width: 31.25em) {
		grid-template-columns: 1fr;
		margin-inline: abs.toRem(30px);
		margin-block: abs.toRem(100px);
	}

	&__item {
		border-radius: abs.toRem(15px);
		overflow: hidden;
		position: relative;
	}

	&__item--main {
		grid-row: 1 / -1;
		background-color: abs.$cl-dark-blue;
	}

	&__profile {
		background-color: abs.$cl-blue;
		padding: abs.toRem(30px);
		border-radius: abs.toRem(15px);

		@media only screen and (max-width: 31.25em) {
			display: flex;
			align-items: center;
			gap: abs.toRem(20px);
		}

		&-info {
			@media only screen and (max-width: 31.25em) {
				display: flex;
				flex-direction: column;
			}
		}
	}

	&__img-container {
		background-color: abs.$cl-white;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		width: abs.toRem(85px);
		height: abs.toRem(85px);
		margin-bottom: abs.toRem(40px);

		@media only screen and (max-width: 31.25em) {
			margin: 0;
		}

		img {
			width: abs.toRem(80px);
			height: abs.toRem(80px);
		}
	}

	&__profile-tag {
		color: abs.$cl-pale-blue;
		margin-bottom: abs.toRem(6px);
	}

	&__profile-name {
		color: abs.$cl-white;
		font-weight: abs.$fw-xtiny;
		font-size: abs.toRem(42px);
		margin-bottom: abs.toRem(40px);

		@media only screen and (max-width: 31.25em) {
			font-size: abs.toRem(24px);
			margin: 0;
		}
	}

	&__date-category {
		list-style: none;
		padding: abs.toRem(30px);

		@media only screen and (max-width: 31.25em) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		li .link:link,
		li .link:visited {
			text-decoration: none;
			color: abs.$cl-desaturated-blue;
			@include abs.transitionAll;
		}

		li .link:hover {
			color: abs.$cl-white;
		}

		// MODIFIER
		li .link.link-active {
			color: abs.$cl-white;
		}

		li:not(:last-child) {
			margin-bottom: abs.toRem(15px);

			@media only screen and (max-width: 31.25em) {
				margin: 0;
			}
		}
	}

	&__item:nth-child(2) {
		background-color: abs.$cl-light-orange;
	}

	&__item:nth-child(3) {
		background-color: abs.$cl-soft-blue;
	}

	&__item:nth-child(4) {
		background-color: abs.$cl-light-red;
	}

	&__item:nth-child(5) {
		background-color: abs.$cl-lime-green;
	}

	&__item:nth-child(6) {
		background-color: abs.$cl-violet;
	}

	&__item:nth-child(7) {
		background-color: abs.$cl-soft-orange;
	}

	&__item-category {
		cursor: pointer;
		background-color: abs.$cl-dark-blue;
		width: 100%;
		height: 100%;
		padding: abs.toRem(30px);
		margin-top: abs.toRem(45px);
		border-radius: abs.toRem(15px) abs.toRem(15px) 0 0;
		position: relative;
		@include abs.transitionAll;

		&:hover {
			background-color: abs.$cl-dark-purple;
		}

		&-img {
			position: absolute;
			right: abs.toRem(15px);

			&-1 {
				top: abs.toRem(-10px);
			}

			&-2 {
				top: abs.toRem(-5px);
			}

			&-3 {
				top: abs.toRem(-5px);
			}

			&-5 {
				top: abs.toRem(-15px);
			}

			&-6 {
				top: abs.toRem(-12px);
			}
		}
	}

	&__item-top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: abs.toRem(20px);
	}

	&__item-bottom {
		@media only screen and (max-width: 31.25em) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__category {
		color: abs.$cl-white;
		font-weight: abs.$fw-small;
	}

	.total {
		font-size: abs.toRem(48px);
		color: abs.$cl-white;
		font-weight: abs.$fw-xtiny;
		margin-bottom: abs.toRem(10px);

		@media only screen and (max-width: 31.25em) {
			font-size: abs.toRem(28px);
			margin: 0 abs.toRem(20px) 0 0;
		}
	}

	.duration__container {
		color: abs.$cl-pale-blue;
		display: flex;
		align-items: center;
	}
}
